.container-fluid{
    padding-left: 0 !important ;
}

.mainMenu {
    margin-top: 20px !important;
    margin-bottom: 20px !important;    
}

.sweet-loading{
    position: absolute;
    left: 50vw;
    top: 20vh;
    z-index: 9999;
}

.homeSubmenuItem {        
    margin-left: 1em;
    margin-top: 20px;
    margin-right: 0px;
    padding: 14px 40px 10px 19px;    
    color: black;
}

.homeSubmenuItemSelected {
    background: white;
    color: black;   
    cursor: pointer;
}

.homeSubmenuItem:hover {
    background: white;
    color: black;   
    cursor: pointer;
}

.homeSubmenuItem:active {
    background: white;
    color: black;   
}

.mainMenuItem {    
    color: white;    
    margin-left: 1.5em;    
}

body, html {
    margin: 0;
    overflow: hidden;
    font-family: "Open Sans";    
    font-weight: lighter;    
}

.left {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow-y: scroll;
    background-color: #4FC1E9;  
}

.right {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 75%;  
    background-color: white;    
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-title {
    width: 100%;
    border-width: 2px;
    border-color: black;
    padding: 4px 10px;
}

.btn-right{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.btn {
    border-width: 3px;
    border-color: #681aff;
    background: white;
    color: black;
}

.btn-round{
    border-radius: 25px;
}

.btn:hover {
    border-color: white;
    background: #681aff;
    color: white;    
}