<!DOCTYPE html>
<html>
	<head lang="en">
		<title>Kanban</title>
		
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    	

    	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">    	

    	<link rel="stylesheet" href="css/main.css">
    	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>		

		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<h1>Kanban Board</h1>	
		<hr>	
		<div class="container left">			
            <button class="btn btn-right">CREATE</button>
            <br/>
            <br/>	
            <div class="active mainMenu">
                <a href="#doneSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mainMenuItem">Done</a>
                <ul class="collapse list-unstyled" id="doneSubmenu">
                    <li class="homeSubmenuItem">
                    	<a>	                    	
                    	<div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title. Card title. Card title. Card title. Card title. Card title. Card title. </p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>	                        
                    </a>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                    	<div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>	                        
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-10 col-md-10 col-lg-10">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-2 col-md-2 col-lg-2">
                    			<button class="btn btn-round">3</button>
                    		</div>
                    	</div>
                    </li>
                </ul>                
            </div>            
            <div class="active mainMenu">
                <a href="#inProgressSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mainMenuItem">In Progress</a>
                <ul class="collapse list-unstyled" id="inProgressSubmenu">
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                </ul>                
            </div>
            <div class="active mainMenu">
                <a href="#todoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle mainMenuItem">Done</a>
                <ul class="collapse list-unstyled" id="todoSubmenu">
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                    <li class="homeSubmenuItem">
                        <div class="row">
                    		<div class="col-sm-8 col-md-8 col-lg-8">
                    			<p>Card title</p>
                    		</div>
                    		<div class="col-sm-4 col-md-4 col-lg-4">
                    			<button class="btn">3</button>
                    		</div>
                    	</div>
                    </li>
                </ul>                
            </div>	        
		</div>
		<div class ="right">			
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<button class="btn btn-right">DELETE</button>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-8 col-md-8 col-lg-8">
						<label> Name: </label>
						<br/>
						<input class="input-title" type="text" placeholder="Card name"></input>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						<label> Status: </label>
						<br/>
						<div class="dropdown">
							<button class="input-title dropdown-toggle" type="button" data-toggle="dropdown">Todo
							<span class="caret"></span></button>
							<ul class="input-title dropdown-menu">
								<li><a href="#">Done</a></li>
								<li><a href="#">In Progress</a></li>
								<li><a href="#">Todo</a></li>
							</ul>
						</div>
					</div>					
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<label> Description: </label>
						<br/>
						<textarea class="input-title"  placeholder="Enter the description here"></textarea>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<label> Task List: </label>
						<button class="btn btn-right">+</button>						
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-1 col-lg-1">						
						<input class="btn-right" type="checkbox"></input>
					</div>
					<div class="col-sm-9 col-md-9 col-lg-9">						
						<input class="input-title" type="text" placeholder="Task details"></input>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">						
						<button class="btn btn-round">X</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-1 col-lg-1">						
						<input class="btn-right" type="checkbox"></input>
					</div>
					<div class="col-sm-9 col-md-9 col-lg-9">						
						<input class="input-title" type="text" placeholder="Task details"></input>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">						
						<button class="btn btn-round">X</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-1 col-lg-1">						
						<input class="btn-right" type="checkbox"></input>
					</div>
					<div class="col-sm-9 col-md-9 col-lg-9">						
						<input class="input-title" type="text" placeholder="Task details"></input>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">						
						<button class="btn btn-round">X</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 col-md-1 col-lg-1">						
						<input class="btn-right" type="checkbox"></input>
					</div>
					<div class="col-sm-9 col-md-9 col-lg-9">						
						<input class="input-title" type="text" placeholder="Task details"></input>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">						
						<button class="btn btn-round">X</button>
					</div>
				</div>
				<br/>	
			</div>			
		</div>		
	</body>
</html>
